<div class="footer">
	<div class="container text-center">
		<h2>Want to work together?</h2>
		<p>Phone &amp; Fax: (360) 867-9543</p>
		<p>3530 32nd Way, NW.<br />Olympia, WA 98502<br /></p>
	</div>
</div>
