{{#header-card class="about"}}
	<h1>About PEI</h1>
	<p>Pyron Environmental, Inc. (PEI) is an environmental and analytical chemistry consulting firm founded by Mingta Lin</p>
{{/header-card}}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<h3>Mingta Lin</h3>
				<h4>PEI Founder, Senior Environmental Chemist</h4>
				<p>Mingta has over 25 years of comprehensive training and professional experience in environmental chemistry (i.e., geochemistry and analytical chemistry). In conjunction with his extensive experience with regulatory requirements for environmental data collection and evaluation, Mingta has been successfully accomplished responsibilities as a senior environmental chemist and/or project/program QA/QC officer for tens of high-profile projects over the past 10 years. Mingta’s expertise ensures the quality, usability, and legal defensibility of data collected for you projects.</p>
				<a class="btn btn-default" href="../Resume_Pyron_Mingta Lin.pdf" role="button">See Full Resume</a>
			</div>
			<div class="well">
				<h3>Education and Work History</h3>
				<dl class="dl-horizontal">
					<dt>2003 – Present</dt>
					<dd >Pyron Environmental, Inc. (Olympia, WA) – President</dd>
					<dt>1998 – 2003</dt>
					<dd>Columbia Analytical Services (Kelso, WA) – Senior Project Manager</dd>
					<dt>1996 – 1998</dt>
					<dd>Sun-Dream Environmental Technology, Inc. (Taiwan) – Technical Manager</dd>
					<dt>1993 – 1996</dt>
					<dd>AGI Technology (Bellevue, WA) – Environmental Scientist</dd>
					<dt>1991 – 1992</dt>
					<dd>City of Seattle, Light Department, Environment Affairs Division – Intern</dd>
					<dt>1989 – 1992</dt>
					<dd>University of Montana (Missoula, MT) – M.S. (Geochemistry, Hydro-geochemistry)</dd>
					<dt>1981 – 1985</dt>
					<dd>Tunghai University (Taiwan) – B.S. (Environmental Sciences/Environmental Chemistry)</dd>
				</dl>
			</div>
			<div class="well">
				<h3>Professional Expertise</h3>
				<ul>
					<li>Environmental sampling and analysis system quality assurance and quality control (QA/QC)</li>
					<li>Analytical chemistry and data quality consulting; QA/QC compliance with federal (USEPA, US DoD, US Navy, US Air Force), State (WA, CA, AK, OR), and regional (PSEP, SMS, DMMP) protocols; laboratory qualification evaluation and on-site audit; and full scale analytical data validation</li>
					<li>Sampling and Analysis Plan (SAP) design and preparation for site investigation, site remediation, site monitoring, waste water discharge (NPDES), and waste management</li>
					<li>Quality Assurance Project Plan (QAPP) preparation in accordance with project objectives, regulatory requirements, and/or applicable environmental program requirements</li>
					<li>Geochemistry of soil, surface water, groundwater, and marine sediment</li>
					<li>Waste profiling and designation per RCRA, TSCA, WA Dangerous Waste Regulations (WAC-173-303)</li>
					<li>Environmental chemistry data interpretation, statistical and scientific data analysis, and data presentation</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<h3>Mission</h3>
				<p>The goal of PEI is to provide broad areas of chemistry expertise and quality services to support you via a cooperative and flexible working relationship. The success of our clients, which include agencies and engineering consultant firms, is the ultimate goal of PEI.</p>
			</div>
		</div>
	</div>
</div>
{{footer-card}}