{{#header-card class="home"}}
	<h1>Pyron Environmental, Inc.</h1>
	<p>Environmental Chemistry &amp; Data Quality Consulting</p>
{{/header-card}}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<p>Pyron Environmental, Inc. (PEI) is an environmental and analytical chemistry consulting firm founded by Mingta Lin in 2003. With over 12 years of professional experience working for environmental consulting firms and analytical laboratories, Mingta reached for his dreams and formed PEI.</p>

				<p>The goal of the company is to provide broad areas of chemistry expertise and quality services to support you via a cooperative and flexible working relationship. The success of our clients, which include agencies and engineering consultant firms, is the ultimate goal of PEI.</p>
			</div>
			<div class="well">
				<h3>Reasons to choose PEI</h3>
				<p><strong>Conserve Project Cost</strong>: PEI conserves your project cost with its lower overhead and focused efficiency in completing chemistry-related tasks</p>
				<p><strong>Start to Finish</strong>: Mingta supports chemistry-related tasks at all stages of your projects, including responding to RFP, planning, implementation, reporting through the completion of the projects</p>
				<p><strong>In-House Chemist</strong>: PEI’s flexible contracting approach meets your needs, and allows hassle-free, close support on an on-call basis acting as an in-house chemist if you do not have one</p>
				<p><strong>Minority-Owned Small Business</strong>: Washington State and Federal certificates pending</p>
				<p><strong>International Experience</strong>: Mingta has been continuously involved with the environmental industry in Taiwan and China, and is fluent in technical and conversational English, Taiwanese, and Chinese (Mandarin)
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<h3>Mingta Lin</h3>
				<h4>PEI Founder, Senior Environmental Chemist</h4>
				<p>Mingta has over 25 years of comprehensive training and professional experience in environmental chemistry (i.e., geochemistry and analytical chemistry). In conjunction with his extensive experience with regulatory requirements for environmental data collection and evaluation, Mingta has been successfully accomplished responsibilities as a senior environmental chemist and/or project/program QA/QC officer for tens of high-profile projects over the past 10 years. Mingta’s expertise ensures the quality, usability, and legal defensibility of data collected for you projects.</p>
				<a class="btn btn-default" href="about.html" role="button">More Info</a>
				<a class="btn btn-default" href="Resume_Pyron_Mingta Lin.pdf" role="button">See Resume</a>
			</div>
		</div>
	</div>
</div>
{{footer-card}}
