{{#header-card class="projects"}}
	<h1>Past Representative Projects</h1>
	<p>See what PEI could do for your company</p>
{{/header-card}}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<h3>Lower Willamette Passive Sampling for Remedial Alternative Evaluation</h3>
				<h4>Portland, OR, January 2014 – Present</h4>
				<p>This study is requested by the Lower Willamette Superfund Site PRPs under the EPA Region 10 oversight to conduct a sampling and analysis of PCB congeners, using the passive PE sampling techniques, to evaluate the PCB loading via sediment porewater at various sites in the Lower Willamette River. Mr. Lin is the senior project chemist for the project, responsible for assisting in determining proper sampling and analysis protocols for the project, developing the QAPP, coordinate and oversee the laboratory performance, and performing a QC review on sampler preparation and handling compliance and a Stage 4 data validation on analytical data.</p>
			</div>
			<div class="well">
				<h3>Kimberly Clark Everett Mill Pre-RI, Interim Action and RI Soil and Groundwater Sampling</h3>
				<h4>Bellingham, WA, 2011 – Present</h4>
				<p>This site investigation program was under WA Department of Ecology’s close oversight and public monitoring. Hundreds of soil and groundwater samples were collected during various phases of the investigation and remediation activities. Samples were analyzed for dioxins/furans, VOCs, SVOCs, PAHs, Pesticides, PCBs, metals, low-level mercury, TPH-Gasoline, and TPH-Diesel/Oil. Mr. Lin has been assigned as the senior project chemist for the program responsible for developing the phase-specific QAPPs, laboratory requirement setup and oversight, addressing Ecology’s comments during and post sampling and analysis, TPH fuel fingerprinting, performing Level 3 validation on dioxins/furans and PCB congeners data and Level 2b validation on all remaining data.</p>
			</div>
			<div class="well">
				<h3>Washington State Department of Transportation (WSDOT), NPDES Stormwater Monitoring Program</h3>
				<h4>Olympia, WA, June 2012 – Present</h4>
				<p>Mr. Lin is retained by the WSDOT as the program on-call data quality consultant. Upon the request by the WSDOT, Mr. Lin has developed the Quality Management Plan (QMP) for the monitoring program, along with supplemental protocols such as Field and Analytical Data Flow Control, Laboratory Data Package Specifications, and Data Validation Criteria and Procedures. Mr. Lin is responsible for performing a Level 4 validation on 10 percent of the data collected during each monitoring year to identify any laboratory-related reporting errors or system anomalies. For each monitoring year, Mr. Lin performs an overall data quality assessment to identify any systematic QC issues relative to field operations, laboratory procedures, and/or data management and provide recommendations to resolve identified issues.</p>
			</div>
			<div class="well">
				<h3>City of Seattle Lower Duwamish Waterway Slip 4 Source Tracing Sediment Sampling</h3>
				<h4>Seattle, WA, 2003 – Present</h4>
				<p>The monitoring program is governed by the Clean Water Act. Sampling and analysis procedures follow USEPA, Washington Department of Ecology, and Puget Sound Estuary Program (PSEP) protocols. Approximately 200 sediment samples are collected per year for contaminant source control studies. All samples are analyzed for semi-volatile organic compounds, PCBs, metals, petroleum hydrocarbons, and TOC. All data are validated according to the USEPA CLP National Functional Guidelines and PSEP requirements. Nr. Lin has been performing the QAPP revision, chemical data quality validation, and data usability determination for the program since 2003.</p>
			</div>
			<div class="well">
				<h3>Pasco Sanitary Landfill Superfund Site Long-Term Groundwater Monitoring</h3>
				<h4>Pasco, WA, June 2004 – Present</h4>
				<p>Mr. Lin has been performing the data quality evaluation and the Stage III data validation since 2004 for the quarterly sampling conducted on this monitoring program. Approximately 70 groundwater samples are collected per quarter and analyzed for VOCs. SVOCs, Chlorinated Pesticides, Metals, and conventional chemistry parameters.</p>
			</div>
			<div class="well">
				<h3>Port of Seattle Aviation Division, Phase I Municipal Stormwater Monitoring</h3>
				<h4>Seattle, WA, 2009 – December 2013</h4>
				<p>The monitoring program complies with provisions under 40CFR and Washington State Administration Codes (WAC) for municipal stormwater quality monitoring. Mr. Lin performed QAPP revisions, chemical data validation (Level 3/4 for dioxins and Level 2b for all remaining analyses), and final data usability determination on all analytical data submitted by the contracted laboratory in 2009, 2011, and 2012. The QC measures performed by Mr. Lin ensured the legal defensibility of collected data, and provide a scientifically-sound foundation for decision making on stormwater diversion and management for the Port of Seattle.</p>
			</div>
			<div class="well">
				<h3>U.S. Coast Guard ISC Kodiak Long-Term Groundwater Monitoring</h3>
				<h4>Kodiak, AK, 2004 – December 2013</h4>
				<p>Mr. Lin has been performing the data quality evaluation and the Stage 4 data validation since 2004 for the quarterly sampling conducted on various sites on this monitoring program. Approximately 40 groundwater samples are collected per quarter and analyzed for VOCs. SVOCs, Chlorinated Pesticides, Metals, and TPHs. For every 3 monitoring years, samples are also analyzed for Dioxins/Furans, PCBs, Herbicides, Cyanide, and Sulfide.</p>
			</div>
			<div class="well">
				<h3>Port of Seattle Marine Division, Stormwater Monitoring Conducted Under Section S8.D of the Phase I Municipal Stormwater Permit</h3>
				<h4>Seattle, WA, 2009 – June 2013</h4>
				<p>The monitoring program complies with provisions under 40CFR and Washington State Administration Codes (WAC) for municipal stormwater and sediment quality monitoring. Mr. Lin performed QAPP revisions, chemical data validation, and final data usability determination on all analytical data submitted by the contracted laboratory in 2009, 2011, and 2012. The QC measures performed by Mr. Lin ensured the legal defensibility of collected data, and provide a scientifically-sound foundation for decision making on stormwater diversion and management for the Port of Seattle.</p>
			</div>
			<div class="well">
				<h3>US Army Corps of Engineers, Lower Duwamish Waterway Navigation Channel Sediment Sampling and Characterization</h3>
				<h4>Seattle, WA, September 2012 – September 2013</h4>
				<p>Mr. Lin was the senior project chemist responsible for assisting in SAP preparation, laboratory performance oversight, and data validation. A Stage IV data validation is required for all data collected at all stages of this project. Approximately 80 sediment samples were to be collected and analyzed for dioxins/furans, and all SMS parameters; 10 of the samples were analyzed for 209 PCB congeners and PCB homologue.</p>
			</div>
		</div>
	</div>
</div>
{{footer-card}}
