{{#header-card class="services"}}
	<h1>What PEI Can Do For You</h1>
	<p>Mingta’s academic training and work experience covers environmental, geological, and laboratory analytical chemistry</p>
{{/header-card}}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="well">
				<h3>Environmental Chemistry Consulting</h3>
				<ul>
					<li>Geochemistry of soil, surface water, groundwater, and marine sediment</li>
					<li>Sampling and Analysis Plan (SAP) design and preparation for site investigation, site remediation, site</li>
					monitoring, waste water discharge (NPDES), and waste management
					<li>Quality Assurance Project Plan (QAPP) preparation in accordance with project objectives, regulatory requirements, and/or applicable environmental program requirements</li>
					<li>Waste profiling and designation per RCRA, TSCA, WA Dangerous Waste Regulations (WAC-173-303)   Environmental chemistry data interpretation, statistical and scientific data analysis, and data presentation</li>
				</ul>
			</div>
			<div class="well">
				<h3>Analytical Chemistry Consulting</h3>
				<ul>
					<li>Analytical protocol identification and recommendation in compliance with federal (USEPA, US Air Force, US Army, US Navy), State (WA, CA, AK, OR), and regional (PSEP, PSDDA) protocols</li>
					<li>Laboratory QA/QC review and on-site laboratory qualification</li>
					<li>Laboratory data validation (National Functional Guidelines, AFCEE QAPP 3.1, Navy IR, USACE HTRW, and project-specific requirements)</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<p>Projects are approached in a direct, practical manner that can only be accomplished through “hands-on” experience. As Mingta has worked in public agencies, consulting firms, and environmental laboratories, he understands your needs and provides solutions tried in the real world.</p>
			</div>
		</div>
	</div>
</div>
{{footer-card}}
